@mixin card-bcg() {
    backdrop-filter: blur(30px);
    background: hsla(60, 3%, 25%, 0.226);
    box-shadow: $card-shadow;
    border-radius: 25px;
}

@mixin bcg-for-text() {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin going-away($toEnd, $from, $time) {
    animation: going-away $time ease-in-out;
    @keyframes going-away {
        0% {
            opacity: 1;
            transform: translate(0);
        }
        50% {
            opacity: 0;
            transform: translateX($toEnd) translateY(-3rem);
        }
        51% {
            opacity: 0;
            transform: translateX($from) translateY(-3rem);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}