@mixin blur-bcg() {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

@mixin bcg-for-text() {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin going-away($toEnd, $from, $time) {
    animation: going-away $time ease-in-out;
    @keyframes going-away {
        0% {
            opacity: 1;
            transform: translate(0);
        }
        50% {
            opacity: 0;
            transform: translateX($toEnd) translateY(-3rem);
        }
        51% {
            opacity: 0;
            transform: translateX($from) translateY(-3rem);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
@mixin right-wrong($color, $scale: 103%) {
    transform: scale($scale);
    p {
        background: $color;
        @include bcg-for-text();
    }
}

@mixin primary-button() {
    border-radius: $border-prime;
    border: none;

    font-family: $font;
    font-size: 1.5rem;

    padding: 1rem;

    color: $color-white;
    background: $gradient;
    box-shadow: $shadow-black;

    cursor: pointer;
    &:hover {
        transform: scale(100.5%);
    }
}
