//colors
$bcg: hsla(240, 4%, 5%, 0.966);
$bcg-second: hsla(0, 1%, 17%, 0.842);
$prim-text: #fff;
$second-color: #005ef1;
$prim-color: #6025c3;
$semi-dark: #0081ff;
$font: "Roboto Slab",
serif;
$neon-font:'Monoton', cursive;
$grey-color: rgba(255, 255, 255, 0.5);
//gradients
$gradient: linear-gradient( to right top, hsl(262, 68%, 45%), hsl(254, 61%, 50%), hsl(246, 65%, 54%), hsl(238, 71%, 57%), hsl(220, 88%, 52%), hsl(211, 100%, 50%), hsl(210, 100%, 50%));
$right-gradient: linear-gradient(to right, #1d976c, #93f9b9);
$bad-gradient: linear-gradient(to right, #ee0979, #ff6a00);
$sjw-gradient: linear-gradient( 124deg, rgba(212, 6, 6, 0.9878326330532213) 13%, rgba(238, 156, 0, 1) 30%, rgba(227, 255, 0, 1) 47%, rgba(6, 191, 0, 1) 68%, rgba(0, 26, 152, 1) 90%);
//shadows
$card-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
//media_screens
$medium-screen: 540px;
$large-screen: 900px;
$upper-large-screen: 1400px;

//light theme
$bcg-light: hsla(240, 3%, 76%, 0.966);
$prim-text-light: rgb(70, 67, 67);
$grey-color-light: rgba(70, 66, 66, 0.589);