// fonts
$font: "Roboto Slab", serif;
$neon-font: "Monoton", cursive;

// colors
$color-black: hsl(0, 8%, 16%);
$color-black-opacity: hsl(0, 8%, 16%, 0.7);
$color-grey: hsl(0, 0%, 72%);
$color-white: hsl(240, 13%, 95%);

$color-violet: hsla(236, 43%, 62%, 1);
$color-violet-1: hsla(236, 57%, 68%, 1);
$color-violet-2: hsla(236, 79%, 75%, 1);
$color-violet-3: hsla(239, 100%, 81%, 1);
$color-violet-4: hsla(244, 100%, 83%, 1);
$color-violet-5: hsla(250, 100%, 84%, 1);
$color-pink-3: hsla(260, 97%, 85%, 1);
$color-pink-2: hsla(271, 92%, 85%, 1);
$color-pink-1: hsla(270, 91%, 86%, 1);
$color-pink: hsla(271, 90%, 88%, 1);

//gradients
$gradient: linear-gradient(
    225deg,
    $color-violet,
    $color-violet-1,
    $color-violet-2,
    $color-violet-3,
    $color-violet-4,
    $color-violet-5,
    $color-pink-3,
    $color-pink-2,
    $color-pink-1,
    $color-pink
);
$gradient-grey: linear-gradient(225deg, hsl(180, 1%, 53%), hsl(180, 1%, 68%), hsl(0, 3%, 76%));
$gradient-green: linear-gradient(to right, hsl(160, 36%, 47%), hsl(142, 100%, 78%));
$gradient-red: linear-gradient(to right, hsl(331, 93%, 48%), hsl(25, 100%, 50%));

//shadows
$shadow-black: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

//borders
$border-prime: 25px;
$border-minimal: 15px;
$border-large: 35px;

//media_screens
$medium-screen: 540px;
$large-screen: 900px;
$upper-large-screen: 1400px;

:export {
    borderPrime: $border-prime;
    borderLarge: $border-large;
}
